<!doctype html>
<html>
  <head>
    <title>List Details</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todolist.name }}</h1>
        <p>
          <a href="{% url 'todo_list_update' todolist.pk %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'todo_list_delete' todolist.pk %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            {% for todo_task in todolist.items.all %}
              <tr>
                <td>
                  <a href="{% url 'todo_item_update' todo_task.pk %}">{{ todo_task.task }}</a>
                </td>
                <td>
                  <a href="{% url 'todo_item_update' todo_task.pk %}">{{ todo_task.due_date }}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
