<!doctype html>
<html>
  <head>
    <title>Update List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Update list</h1>
        <form method="POST">
          {% csrf_token %}
          {% comment %} {{ form.as_p }} {% endcomment %}
          <p>
            <label for="name">Name:</label>
            <input type="text" name="name">
          </p>
          <button>Update</button>
        </form>
      </div>
    </main>
  </body>
</html>
