<!doctype html>
<html>
  <head>
    <title>To Do Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <p>
          <a href="{% url 'todo_item_create' %}">Create a new item</a>
        </p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for task_list in todolist_list %}
              <tr>
                <td>
                  <a href="{% url 'todo_list_detail' task_list.pk %}">{{ task_list.name }}</a>
                </td>
                <td>{{ task_list.items.all|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
