<!doctype html>
<html>
  <head>
    <title>Update Item</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Update item</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Update</button>
        </form>
      </div>
    </main>
  </body>
</html>
