<!doctype html>
<html>
  <head>
    <title>Create Item</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Create a new item</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          {% comment %} <p>
                        <label for="task">Task:</label>
                        <input type="text" name="task">
                    </p>
                    <p>
                        <label for="due date">Due date:</label>
                        <input type="text" name="due date">
                    </p>
                    <p>
                        <label for="is_completed">Is completed:</label>
                        <input type="checkbox" name="is_completed">
                    </p>
                    <p>
                        <label for="list">List:</label>
                        <select name="list">
                            <option value="">---------</option>
                            {% for list in lists %}                            <option value="{{list.pk}}">{{list.name}}</option>{% endfor %}
                        </select>
          </p> {% endcomment %}
          <button>Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
